<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iCanMakeApps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94AD8EBC1CB6D47A008DA275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94AD8ED01CB6D47A008DA275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94AD8EDB1CB6D47A008DA275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
